main{
    background-color: #fafafa;
    padding: 100.09px 0;
}

.payment-container{
    max-width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.payment{
    gap: 16px;
    display: flex;
    flex-direction: column;
    
}
.payment .payment-logo{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}
.payment .payment-logo img{
    /* object-fit: cover;
    width: 100%; */
    width: 40px;
    height: 40px;
}

.payment .payment-details{
    

    display: flex;
    gap: 80px;
}

.payment .payment-details-container{
    padding: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}
.payment .payment-details .payment-details-order{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.payment .payment-logo button{
    padding: 8px 16px;
    background-color: #ffffff;
    color: #FA541C;
    border: #FA541C 1px solid;
}
