*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilrory;
    src: url(./asset/gilroy/Gilroy-Light.ttf);
}
@font-face {
    font-family: GilroryNho;
    src: url(./asset/gilroy/Gilroy-Thin.ttf);
}
@font-face {
    font-family: GilroryBold;
    src: url(./asset/gilroy/Gilroy-Regular.ttf);
}

body{
    font-family:'Gilrory';
    font-size: 16px;
}

a{
    text-decoration: none;
}
a:hover{
    color: red;
}

ul li{
    list-style: none;
    display: inline-block;
}

.container{
    max-width: 1283.32px;
    margin: 0 auto;
}


.header-wapper-top{
    background-color: #fa541c;

}
.header .headerTop{
    padding: 16px 0;
    line-height: 27.2px;
    display: flex;
    color: white;
    justify-content: space-between;
    
}
.header .headerTop .container-auth .container-auth-gap{
    padding: 0 15px;
}
.header .headerTop .container-auth{
    text-align: center;
}
.header .headerTop .container-auth .muiten{
    width: 6px;
    
}
.headerTop a{
    color: white;
}



.header-wapper-bottom{
    background-color: #fafafa;
    border-bottom: 1px solid #dddddd;
}
.headerBottom{
    display: flex;
    padding: 20.16px 0;
    align-items: center;
    gap: 185.86px;
    
}
.headerBottom .logo{
    padding: 8px 0 0 0;
}
.headerBottom .nav-bar{
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
 
    gap: 20px;
}
.headerBottom .nav-bar ul{
    display: flex;
    gap: 40px;
}
.headerBottom .nav-bar .nav-bar-item{
    font-family: 'Gilrory';
    color: #3D3737;
    font-weight: bold;
}

.headerBottom .search{
    align-items: center;
    display: flex;
    max-width: 295px;
    gap: 11px;
}
.headerBottom .search .search-item .search-img{
    width: 24px;
}
.headerBottom .search .search-item{
    width: 215px;
    gap: 16px;
    display: flex;
    padding: 8px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    border-radius: 4px;
    background-color: #fefefe;
}
.headerBottom .search .cart-icon{
    max-width: 40px;
    /* padding: 7px 6.32px 5.67px 5.67px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    border-radius: 4px;
    background-color: #fefefe;
}
.headerBottom .search .book-icon{
    max-width: 40px;
  max-height: 40px;
  padding: 12px 11px 6px 10.23px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
  border-radius: 4px;
  background-color: #fefefe;
    
}
.headerBottom .search .search-item input{
    outline: none;
    border: none;
   

    
}



.trending{
    background-color: #fff1f0;
    
}
.trending .container-trending{
    max-width: 1120.25px;
    margin: 0 auto;
    display: flex;
}
.trending .trending-poduct{
    padding: 153.98px 175.25px 153.98px 0;
}
.trending .trending-poduct .trending-product-title{
    
    max-width: 648px;
    font-size: 32px;
    color: #fa541c;
}
.trending .trending-poduct .trending-product-desc{
    padding: 24px 0;
    font-size: 24px;
}
.trending .trending-poduct .trending-product-price{
    padding: 0 0 24px 0;
    font-size: 24px;
}



.btn-cart{
    max-width: 156px;
    padding: 4px 16px;
    display: flex;
    text-align: center;
    gap: 8px;
    background-color: #fa541c;
    
}
.btn-cart .btn{
    border: none;
    outline: none;
    color: #fff;
    background-color: #fa541c;
}

.trending .trending-image{
    height: 480px;
    
}


.product{
    background-color: #fafafafa;
}
.container-product{
    max-width: 1120.25px;
    margin: 0 auto;
}
.fashion .fashion-title{
    font-size: 32px;
    padding: 40px 0;
    position: relative;
}
.fashion .fashion-hr .fashion-title p::before{
    position: absolute;
    content: "";
    width: 128px;
    height: 3px;
    background-color: #FA541C;
    top: 50%;
    left: 0px;
}

.fashion .fashion-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.2%;
    width: 100%;
    
}
.fashion .fashion-item .fashion-item-box{
    width: 48.4%;
    padding: 25px 149px 50px 50px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 3.2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}
.fashion .fashion-item .fashion-item-box .fashion-item-box-img{
    position: absolute;
    bottom: 5%;
    left: 47%;
    max-width: 289px;
}
.fashion .fashion-item .fashion-item-box .fashion-item-box-img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.fashion .fashion-item .fashion-item-box .fashion-item-box-title{
    font-size: 24px;
}
.fashion .fashion-item .fashion-item-box .fashion-item-box-title span{
    font-family: 'GilroryNho';
}

.fashion .fashion-item .fashion-item-box .fashion-item-box-desc{
    max-width: 345px;
    padding: 12px 0;
    
}
.fashion .fashion-item .fashion-item-box .fashion-item-box-price{
    
    padding-bottom: 12px;
    
}


.fashion .apple-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.2%;
    
}
.fashion .apple-item .apple-item-box{
    width: 48.4%;
    padding: 8px 16px 8px 6px;
    background-color: #ffffff;
    margin-bottom: 3.2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}
.fashion .apple-item .apple-item-box .app-item-box-image{
    background-color: #eef9fd;
    max-width: 245px;
    border-radius: 8px;
}

.fashion .apple-item .apple-item-box .apple-item-box-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18.5px 0;
    flex: 1;
}

.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-name{
    display: flex;
    justify-content: space-between;
    gap: 42px;
    font-family: 'Gilroy-Light';
}
.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-name button{
    font-size: 10px;
    border: 1px solid #fff;
    padding: 4px 8px;
    border-radius: 10px;
    color: #FA541C;
    background-color: #f6ffed;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-height: 24px;
}
.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-desc{
    line-height: 27.2px;
}

.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-color {
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-color .apple-item-radio{
    display: flex;
    margin: 0 auto;
    gap: 6.4px;
    background-color: #ededed;
    border: #ededed 1px solid;
    border-radius: 30px;
    padding: 7px 6px;
    max-width: 119px;
}
.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-color .apple-item-radio input{
    width: 16.9px;
    height: 16.9px;
}

.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-remaining span{
    color: #FA541C;
}

.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-price{
    font-family: 'Gilroy-Light';
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}
.fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-price button{
    padding: 7px 5.67px 6.23px 5px;
    background-color: #FA541C;
    border: none;
    border-radius: 4px;
    color: white;
    height: 32px;
    width: 32px;
}

/* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */


.see-more{
    margin: 43px 0;
    text-align: center;
}
.see-more a{
    border: 1px solid #fa541c;
    padding: 8px 16px;
    position: relative;
    border-radius: 8px;
    
}
.see-more a::before{
    position: absolute;
    content: "";
    width: 472px;
    height: 1px;
    background-color: #FA541C;
    top: 50%;
    left: 133px;
}
.see-more a::after{
    position: absolute;
    content: "";
    width: 472px;
    height: 1px;
    background-color: #FA541C;
    top: 50%;
    right: 133px;
}



footer{
    background-color: #FFF8F6;
}
.footer-container{
    max-width: 1360.25px;
    margin: 0 auto;
    padding: 24px 0;
}

.footer-container .footer-top{
    display: flex;
    gap: 40px;
}
.footer-container .footer-top-more{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-container .footer-top-more .footer-top-more-title{
    padding-bottom: 8px;
    font-size: 20px;
}

.footer-container .footer-top .footer-top-logo{
    max-width: 424.25px;
    
}

.footer-container .footer-bottom{
    display: flex;
}
.footer-container .footer-bottom .footer-bottom-text{
    padding: 0 52px 0 332px;

}

.footer-container .footer-bottom .footer-bottom-icon1 img{
    padding-right: 19.34px;
}



@media screen and (max-width: 768px) {
    .container-title , .headerBottom .nav-bar {
        display: none;
         
    }
    
    body{
        font-size: 14px;
    }
    .header .headerTop{
        display: inline;
        text-align: center;
    }
    .headerBottom {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    .headerBottom .nav-bar{
        font-size: 11px;
    }
    .fashion .apple-item .apple-item-box .app-item-box-image {
         max-width: 181px;
          height: 250px;
    }

    .trending .container-trending{
        display: inline;
        margin: 0 auto;
        text-align: center;
    }
    .trending .trending-poduct{
        padding: 27.98px 27px;
    
    }
    .trending .trending-poduct .trending-product-title{
        font-size: 30px;
    }
    .trending .trending-poduct .trending-product-desc{
        font-size: 22px;
    }
    .trending .trending-poduct .trending-product-price{
        font-size: 22px;
    }
    .trending .trending-poduct .btn-cart{
        margin: 0 auto;
    }

    

    .fashion .fashion-item{
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
        /* text-align: center; */
    }
    .fashion .fashion-title{
        text-align: center;
    }
    .fashion .fashion-item .fashion-item-box{
        width: 100%;
    }
    .fashion .fashion-item .fashion-item-box .fashion-item-box-img{
        max-width: 35%;
        bottom: 35%;
    }

    .fashion .fashion-item .fashion-item-box .fashion-item-box-desc {
        max-width: 120%;
    }

    .fashion .fashion-item .fashion-item-box .btn-cart{
        margin: 0;
    }


    .see-more a::before{
        max-width: 70%;
    }
    .see-more a::after{
        max-width: 70%;
    }

    .fashion .apple-item .apple-item-box{
        width: 100%;
    }
    .fashion .apple-item .apple-item-box .app-item-box-image img{
        object-fit: contain;
        width: 100%;
         height: 100%;
    }


    .footer-container{
        padding: 20px;
    }
    #footer-top-width{
        width: 90%;
        /* margin: 0 auto;
        max-width: 425px; */
    }
    .footer-container .footer-top{
        flex-wrap: wrap;
    }
    .footer-container .footer-bottom .footer-bottom-text{
        display: none;
    }

    .footer-container .footer-bottom {
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }
    .footer-container .footer-bottom .footer-bottom-icon2 img{
        width: 90%;
    }

}

@media screen and (max-width: 996px) {
    .headerBottom .nav-bar{
        display: none;
        
    }
    .headerBottom{
        justify-content: center;
        
    }
    
    .fashion .fashion-item .fashion-item-box .fashion-item-box-img{
        width: 20%;
        left: 65%;
    }
    .fashion .fashion-item{
        padding: 0 20px 30px 20px;
    }
    .fashion .fashion-item .fashion-item-box{
        margin: 0 auto;
        width: 100%;
    }

    .see-more a::before{
        max-width: 80%;
    }
    .see-more a::after{
        max-width: 80%;

    }

    .fashion .apple-item .apple-item-box{
        width: 100%;
    }

}

@media screen and (max-width: 1018px) {

    .headerBottom .nav-bar{
        font-size: 13px;
    }
}

@media screen and (max-width: 1367px) {
    .headerBottom{
        gap: 45.86px;
        
    }

    .trending .trending-poduct{
        padding: 153.98px 105.25px 153.98px 50px;
    }
    .fashion .fashion-item .fashion-item-box .fashion-item-box-img{
        width: 50%;
    }

    .container{
        padding: 0 20px;
    }

    .container-product{
        padding: 0 20px;
    }

    .see-more a::before{
        width: 372px;
    }
    .see-more a::after{
        width: 372px;
    }

    
    .fashion .apple-item .apple-item-box .apple-item-box-info .apple-item-box-info-name{
        width: 100%;
    }


    .footer-container .footer-top{
        gap: 20px;
        padding-top: 20px;
    }
    .footer-container .footer-bottom{
        padding: 20px 0;
    }
    .footer-container .footer-bottom .footer-bottom-text{
        padding: 0 32.25px 0 42px;
    }
    .footer-container{
        padding: 0 20px;
    }



    .cart-item{
        align-items: center;
        flex-direction: column;
    }
    .cart-item .cart-item-flexcolumn{
        
        max-width: 100%;
    }

    
}
